<div style="display:block" id="movie-Management">
    <a style="font-size:1.7rem;color:#d3531a;padding:2rem" href="/admin">back</a>
    <h1 class="title">Quản Lí Movie</h1>
    <div class="form-management">
        <div id="option-admin">
            <div class="form-check">
                <input type="checkbox" id="checkBox-all">
                <label class="form-check-label" for="checkBox-all">Select All</label>
            </div>
            <div class="option">
                <select required class="select" name="action">
                    <option value="">Choose action...</option>
                    <option value="delete">Delete</option>
                    <option value="remove">Restore</option>
                </select>
            </div>
            <button class="btn-check-all-submit" href="">Thực hiện</button>
        </div>
        <div class="list-movie">
            <table>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>VIDEO</th>
                    <th>IMAGE</th>
                    <th>TRAILER</th>
                    <th></th>
                </tr>
                {{#each movie}}
                <tr>
                    <td>
                        <input id="checkBoxItem" type="checkbox" name="userIds" value="{{this.id}}" />
                    </td>
                    <td>1</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.linkVideo}}</td>
                    <td>{{this.linkImage}}</td>
                    <td>{{this.idTrailer}}</td>
                    <td><a class="btn" id="delete-user" data-id="{{this.id}}" href="">Xóa</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

<style>
    .title {
        display: block;
        text-align: center;
        font-size: 3rem;
        color: #d3531a;
        padding: 4rem 0;
    }

    #option-admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-check {
        font-size: 2rem;
        color: #fff;
    }

    #checkBox-all {
        width: 1.5rem;
        height: 1.5rem;
    }

    label {
        color: #d3531a;
        cursor: pointer;
    }

    .option {
        padding: 0 2rem;
        flex: 1;
        cursor: pointer;
    }

    select {
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
    }

    option {
        font-size: 2rem;
    }


    button {
        padding: 1rem;
        border-radius: .5rem;
        background-color: #d3531a;
        outline: none;
        border: none;
        color: #eee;
        cursor: pointer;
    }

    .list-movie,
    .list {
        overflow-x: auto;
        background-color: transparent;
        color: #000;
    }

    table {
        margin-top: 3rem;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        width: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    td,
    th {
        border-bottom: 1px solid #ddd;
        height: 5rem;
        font-size: 1.7rem;
        color: #fff;
        padding: 20px 0;
    }

    td a,
    th a {
        font-size: 2rem;
        color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        background-color: #d3531a;
        margin-left: 1rem;
    }

    td {
        height: 4rem;
    }


    .btn-check-all-submit {
        opacity: .7;
    }

    .btn-check-all-submit.active {
        opacity: 1;
    }
</style>

<form name="delete_user_form" method="POST"></form>

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    const deleteForm = document.forms['delete_user_form'];
    const deleteUsers = $$('#delete-user')
    const checkBoxAll = $('#checkBox-all')
    const checkBoxItem = $$('#checkBoxItem')
    const btnCheckAllSubmit = $('.btn-check-all-submit')
    const containerForm = $('.right-page-admin')
    var userId;

    deleteUsers.forEach(deleteUser => {
        deleteUser.onclick = (e) => {
            e.preventDefault();
            const check = confirm('ban co chac xoa user nay khong?')
            if (check == true) {
                userId = deleteUser.getAttribute('data-id')
                deleteU()
            } else {
                console.log('false')
            }
        }
    })
    function deleteU() {
        deleteForm.action = `/admin/` + userId + `?_method=DELETE`
        deleteForm.submit()
    }

    checkBoxAll.onchange = (e) => {
        if (checkBoxAll.checked == true) {
            checkBoxItem.forEach((c) => {
                c.checked = true
            })
        } else {
            checkBoxItem.forEach((c) => {
                c.checked = false
            })
        }
        checkDisabledAllSubmit()
    }

    checkBoxItem.forEach((c) => {
        c.onchange = () => {
            var isCheckedAll = checkBoxItem.length === document.querySelectorAll('input[name="userIds"]:checked').length
            checkBoxAll.checked = isCheckedAll
            checkDisabledAllSubmit()
        }

    })

    btnCheckAllSubmit.onclick = (e) => {
        if (document.querySelectorAll('input[name="userIds"]:checked').length == 0) {
            e.preventDefault()
        }
    }
    function checkDisabledAllSubmit() {
        const checked = document.querySelectorAll('input[name="userIds"]:checked').length
        if (checked > 0) {
            btnCheckAllSubmit.classList.add('active')
        } else {
            btnCheckAllSubmit.classList.remove('active')
        }
    }
</script>