<form method="POST" action="/admin/handle-form-action/movie" style="display:block;hight:100vh !important"
    id="movie-Management">
    <div class="option">
        <a href="/admin">back</a>
        <div class="option-add">
            <a href="/admin/movie-manager/create">Thêm Movie</a>
            <a href="/admin/movie-manager/add-actor">Thêm Actor</a>
            <a href="/admin/movie-manager/add-cat">Thêm Category</a>
            <a href="/admin/movie-manager/add-country">Thêm Country</a>
        </div>
    </div>
    <h1 class="title">Quản Lí Movie</h1>
    <div style="padding:0 3rem" class="form-management">
        <div id="option-admin">
            <div class="form-check">
                <input type="checkbox" id="checkBox-all">
                <label class="form-check-label" for="checkBox-all">Select All</label>
            </div>
            <div class="option">
                <select required class="select" name="action">
                    <option value="">Choose action...</option>
                    <option value="delete">Delete</option>
                    <option value="remove">Restore</option>
                </select>
            </div>
            <button class="btn-check-all-submit" href="">Thực hiện</button>
        </div>
        <div class="list-movie">
            <table>
                <tr>
                    <th colspan="2">#</th>
                    <th>NAME</th>
                    <th>DESCRIPTION</th>
                    <th>VIDEO</th>
                    <th>IMAGE</th>
                    <th>CATEGORIES</th>
                    <th>TRAILER</th>
                    <th>SLUG</th>
                    <th>YEAR</th>
                    <th colspan="2">OPTION</th>
                </tr>
                {{#each movie}}
                <tr>
                    <td>
                        <input id="checkBoxItem" type="checkbox" name="movieIds" value="{{this.id}}" />
                    </td>
                    <td>{{sum @index 1}}</td>
                    <td><textarea style="width:200px;height:61px">{{this.name}}</textarea></td>
                    <td><textarea style="width:240px;height:61">{{this.description}}</textarea></td>
                    <td><textarea style="width:200px;height:41px ">{{this.linkVideo}}</textarea></td>
                    <td><textarea style="width:220px;height:41px">{{this.linkImage}}</textarea></td>
                    <td><textarea style="width:180px;height:41px">{{this.cat}}</textarea></td>
                    <td><textarea style="width:200px;height:41px">{{this.idTrailer}}</textarea></td>
                    <td><textarea style="width:180px;height:41px">{{this.slug}}</textarea></td>
                    <td><textarea style="width:50px;height:61px">{{this.year}}</textarea></td>
                    <td><a class="btn" id="delete-movie" data-id="{{this.id}}" href="">Xóa</a></td>
                    <td>
                        <a href="/admin/{{this.slug}}/update" class="btn" id="update-movie"
                            data-id="{{this.id}}">Sửa</a>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</form>

<style>
    .option>a,
    .option-add a {
        display: inline-block;
        color: #fff;
        padding: .9rem;
        background-color: #d3531a;
        font-size: 1.7rem;
        border-radius: 1rem;
        margin-left: .7rem;
    }

    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem !important;
    }

    #footer {
        display: none;
    }

    textarea {
        background-color: transparent;
        color: #fff;
        overflow: auto;
        font-size: 1.2em;
        resize: none;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
    }

    textarea::-webkit-scrollbar {
        display: none;
    }

    .title {
        display: block;
        text-align: center;
        font-size: 3rem;
        color: #d3531a;
        padding: 2rem 0;
    }

    #option-admin {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-check {
        font-size: 2rem;
        color: #fff;
    }

    #checkBox-all {
        width: 1.5rem;
        height: 1.5rem;
    }

    label {
        color: #d3531a;
        cursor: pointer;
    }

    .option {
        padding: 0 2rem;
        flex: 1;
        cursor: pointer;
    }

    select {
        width: 100%;
        padding: 1rem;
        border-radius: .5rem;
    }

    option {
        font-size: 2rem;
    }


    button {
        padding: 1rem;
        border-radius: .5rem;
        background-color: #d3531a;
        outline: none;
        border: none;
        color: #eee;
        cursor: pointer;
    }

    .list-movie,
    .list {
        overflow-x: auto;
        background-color: transparent;
        color: #000;
    }

    table {
        margin: 0 auto;
        margin-top: 3rem;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        width: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    td,
    th {
        border-bottom: 1px solid #ddd;
        height: 5rem;
        font-size: 1.7rem;
        color: #fff;
        padding: 20px 0;
    }

    td a,
    th a {
        font-size: 2rem;
        color: #fff;
        padding: 1rem;
        border-radius: .5rem;
        background-color: #d3531a;
        margin-left: 1rem;
    }

    td {
        height: 4rem;
    }


    .btn-check-all-submit {
        opacity: .7;
    }

    .btn-check-all-submit.active {
        opacity: 1;
    }
</style>

<form name="delete_user_form" method="POST"></form>
<form name="edit_user_form" method="POST"></form>

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    const deleteForm = document.forms['delete_user_form'];
    const deleteMovies = $$('#delete-movie')
    const updateMovies = $$('#update-movie')
    const checkBoxAll = $('#checkBox-all')
    const checkBoxItem = $$('#checkBoxItem')
    const btnCheckAllSubmit = $('.btn-check-all-submit')
    const containerForm = $('.right-page-admin')
    var movieId;

    deleteMovies.forEach(deleteMovie => {
        deleteMovie.onclick = (e) => {
            e.preventDefault();
            const check = confirm('ban co chac xoa movie nay khong?')
            if (check == true) {
                movieId = deleteMovie.getAttribute('data-id')
                deleteU()
            } else {
                console.log('false')
            }
        }
    })
    function deleteU() {
        deleteForm.action = `/admin/` + movieId + `/movie/` + `?_method=DELETE`
        deleteForm.submit()
    }


    updateMovies.forEach(updateMovie => {
        updateMovie.onclick = (e) => {

        }
    })




    checkBoxAll.onchange = (e) => {
        if (checkBoxAll.checked == true) {
            checkBoxItem.forEach((c) => {
                c.checked = true
            })
        } else {
            checkBoxItem.forEach((c) => {
                c.checked = false
            })
        }
        checkDisabledAllSubmit()
    }

    checkBoxItem.forEach((c) => {
        c.onchange = () => {
            var isCheckedAll = checkBoxItem.length === document.querySelectorAll('input[name="movieIds"]:checked').length
            checkBoxAll.checked = isCheckedAll
            checkDisabledAllSubmit()
        }

    })

    btnCheckAllSubmit.onclick = (e) => {
        if (document.querySelectorAll('input[name="movieIds"]:checked').length == 0) {
            e.preventDefault()
        }
    }
    function checkDisabledAllSubmit() {
        const checked = document.querySelectorAll('input[name="movieIds"]:checked').length
        if (checked > 0) {
            btnCheckAllSubmit.classList.add('active')
        } else {
            btnCheckAllSubmit.classList.remove('active')
        }
    }
</script>