<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=589034595884825&autoLogAppEvents=1"
    nonce="fDGgHmm0"></script>
<div style="background-color:#1b2d3c" class="wrapper">
    {{#each data}}
    <div class="container">
        <div class="header-content">
            <div class="thumb">
                <img src="{{this.linkImage}}" alt="">
            </div>
            <div class="content-wrapper">
                <h2 class="title">{{this.name}}</h2>
                <div class="path">
                    <span>
                        <a href="">Phim mới »</a>
                        <a class="country" href="">Mỹ »</a>
                        <span>{{this.name}}</span>
                    </span>
                </div>
                <div class="content-wrapper-bottom">
                    <div id="btn-control">
                        <a href="#trailer-container">Trailer</a>
                        <a id="btn-watch" href="#movie">Xem Phim</a>
                    </div>
                    <div class="info">
                        <p>đạo diễn: N/A</p>
                        <p>thời gian: {{this.time}} Phút</p>
                        <p>quốc gia: {{this.nation}}</p>
                        <p>phát hành: {{this.year}}</p>
                        <p>diễn viên: {{this.actor}}...</p>
                        <p>thể loại: {{this.cat}}</p>
                        <p>chất lượng: bản đẹp</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 style="font-size:3rem;color:#bbc6ce;margin-bottom:2rem" class="">Diễn viên nổi bật:</h2>
        <div class="profile_actors">
            <div class="swiper container_profile">
                <div class="swiper-wrapper actor-wrapper">


                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

        <div id="movie" class="movie">
            <video controls poster="{{this.linkImage}}" width="100%" height="400px" src="{{this.linkVideo}}"></video>
        </div>
        <div class="description-movie">
            <h2>Thông Tin:</h2>
            <span class="description">{{this.description}}</span>
            <p class="show-description btn-description">Xem thêm...</p>
            <p style="display:none" class="none-description  btn-description">Ẩn xem thêm</p>
        </div>
        <div id="trailer-container" class="trailer-container">
            <h1>Trailer phim
                <p>{{this.name}}</p>
            </h1>
            <div class="trailer">
                <iframe width="100%" height="435" src="https://www.youtube.com/embed/{{this.idTrailer}}"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            {{!-- <div style="display:inline-block;text-align:center;width:100%" class="fb-comments"
                data-href="http://localhost:3000" data-width="" data-numposts="5"></div> --}}
            <div style="display:inline-block;text-align:center;width:100%" class="fb-comments"
                data-href="http://localhost:3000/gg" data-width="" data-numposts="5">
            </div>
        </div>
    </div>
    {{/each}}
</div>
<script>
    const actorWrapper = document.querySelector('.actor-wrapper')
    const actorItem = document.querySelector('.actor-item')
    async function fetchActorJSON() {
        const response = await fetch('http://localhost:3000/json-actors');
        const arrActor = await response.json();
        return arrActor;
    }
    fetchActorJSON()
        .then(function (arrActor) {
            var html = arrActor.map(function (actor) {
                return `
                        <div class="swiper-slide actor-item">
                            <div class="story">
                                <div class="name">
                                    <h3>${actor.name}</h3>
                                    <h5>Diễn viên ${actor.actorCountry}</h5>
                                </div>
                                <div class="desc">
                                    <p>${actor.story}</p>
                                </div>
                            </div>
                            <div class="image">
                                <img src="${actor.image}"alt="">
                            </div>
                        </div>
                    `
            })
            actorWrapper.innerHTML = html.join('')
        })
        .catch(console.log('lỗi'))

</script>
<script>
    const btnWatch = document.getElementById('btn-watch')
    const movie = document.querySelector('.movie')
    const descriptionMovie = document.querySelector('.description-movie')
    const description = document.querySelector('.description')
    btnWatch.onclick = (e) => {
        e.preventDefault();
        movie.classList.toggle('active')
        descriptionMovie.classList.toggle('active')
    }

    const showDes = document.querySelector('.show-description')
    const noneDes = document.querySelector('.none-description')
    showDes.onclick = () => {
        description.classList.add('show')
        showDes.style.display = 'none'
        noneDes.style.display = 'block'
    }
    noneDes.onclick = () => {
        description.classList.remove('show')
        noneDes.style.display = 'none'
        showDes.style.display = 'block'
    }


</script>